<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jack.myapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->

    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:theme">
        <meta-data
            android:name="design_width"
            android:value="720" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.recyclerview.recyclerviewDemo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.filedemo.FileDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.download.DownloadActivity"
            android:screenOrientation="portrait" />

        <service android:name=".demo.download.DownLoadService" />

        <activity
            android:name=".demo.date.DateGrideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.takephoto.TakePhotoActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".wanandroid.WanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wanandroid.Main3Activity"
            android:label="@string/title_activity_main3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wanandroid.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wanandroid.activity.Main2Activity"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.locate.LocateActivity"
            android:label="@string/title_activity_locate"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".widget.LocateService"
            android:screenOrientation="portrait" />

        <activity
            android:name=".demo.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wanandroid.activity.HotKeyListActivity"
            android:screenOrientation="portrait" />
        <!-- toolbar滑出屏幕外 -->
        <activity android:name=".demo.expandlistview.CoordinatorActivity" />
        <!-- 文章详情页面 -->
        <activity
            android:name=".wanandroid.activity.ArticalDetailActivity"
            android:screenOrientation="portrait" />
        <!-- 知识体系的文章列表 -->
        <activity
            android:name=".wanandroid.activity.MutipleTypeActivity"
            android:screenOrientation="portrait" />
        <!-- toolbar折叠 -->
        <activity android:name=".demo.expandlistview.CollapsingActivity" />
        <!-- 搜索 -->
        <activity
            android:name=".wanandroid.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <!-- 我喜欢的 -->
        <activity
            android:name=".wanandroid.activity.MarkedActivity"
            android:screenOrientation="portrait" />
        <!-- 关于我们 -->
        <activity
            android:name=".wanandroid.activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".demo.sqlcipher.SqliteActivity" />
        <activity android:name=".demo.observer.TestObserverActivity" />
        <activity android:name=".demo.signature.SignatureActivity" />
        <activity android:name=".demo.scan_takephot_demo.ScanAndTakePhotoActivity" />

        <!-- 扫描 -->
        <activity
            android:name=".google.zxing.activity.CaptureActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".demo.expandlistview.MedicalReportActivity" />
        <activity android:name=".demo.baiduMap.BaiduMapActivity" />
        <activity android:name=".demo.MRecorder.MRecorderActivity" />
        <activity android:name=".demo.BreakPointrResume.HttpActivity"></activity>
        <activity android:name=".demo.RvItemDecoration.RvItemDecorationActivity"></activity>
        <activity android:name=".demo.BreakPointrResume.DownloadTest"></activity>
        <activity android:name=".demo.head_line.HeadLineHomeActivity">

        </activity>

        <service android:name=".demo.download.DownLoadService" />
        <service android:name=".demo.BreakPointrResume.HttpService" />
        <activity android:name=".demo.customize.CustomizeActivity">

        </activity>
        <activity android:name=".demo.customize.GesturePassActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>